doctype html
html
  head
    title= title
    script(src='/javascripts/sea.js')
    script(src='/javascripts/seaconfig.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet',href='/stylesheets/webuploader.css')
  body
    block content